@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&family=Syncopate:wght@700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "nunito", "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

/*Customerizing the Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track scrollbar color */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover {
  background: aqua;
}
